<div class="cbp-l-member-img"><img src="img_med/CRNMRV91T65L378A/avataaars.png" alt=""></div>
<div class="cbp-l-member-info">
	<div class="cbp-l-member-name">Minervina Carinci</div>
	<div class="cbp-l-member-position">Medico di Base</div>
	<div class="cbp-l-member-desc">
        Minervina Carinci minervina.carinci@gmail.com 1991-12-25 F <br/>
        Dottoressa con laurea in Medicina e Chirurgia ottenuta a Padova con punti 110/110. Iscritta all'albo 
        provinciale dei Medici Chirurghi lavora a Trento. Particolarmente esperta in allergologia.
    </div>
</div>
