<div class="cbp-l-member-img"><img src="img_med/CRTLGU58E01L378A/avataaars.png" alt=""></div>
<div class="cbp-l-member-info">
    <div class="cbp-l-member-name">Luigi Cerutti</div>
    <div class="cbp-l-member-position">Medico di Base</div>
    <div class="cbp-l-member-desc">
    Luigi Cerutti  	luigi.cerutti@gmail.com 1958-05-01 M <br/>
    Dottore con laurea in Medicina e Chirurgia ottenuta a Siena nel 1988. Iscritto all'albo 
    provinciale dei Medici Chirurghi dal 1992, svolge l'attività di medico di base a Trento.
    Particolarmente apprezzato come esperto in patologie a carico della tiroide.
</div>
</div>
