<div class="cbp-l-member-img"><img src="img_med/DVTGCL57B28A952G/avataaars.png" alt=""></div>
<div class="cbp-l-member-info">
    <div class="cbp-l-member-name">Graciliano De Vitto</div>
    <div class="cbp-l-member-position">Medico di Base</div>
    <div class="cbp-l-member-desc">
        Graciliano De Vitto graciliano.de.vitto@gmail.com 1957-02-28 M <br/>
        Dottore con laurea in Medicina e Chirurgia ottenuta a Milano. Iscritto all'albo 
        provinciale dei Medici Chirurghi dal 1991, da oltre 20 anni svolge la sua apprezzata attività di medico di base 
        a Bolzano. Particolarmente esperto in patologie a carico dell' apparato musccolo-scheletrico.
    </div>
</div>
