<div class="cbp-l-member-img"><img src="img_med/GRDNDR62S12A952M/avataaars.png" alt=""></div>
<div class="cbp-l-member-info">
    <div class="cbp-l-member-name">Andrea Giardini</div>
    <div class="cbp-l-member-position">Radiologo</div>
    <div class="cbp-l-member-desc">
    Andrea Giardini andrea.giardini@gmail.com 1962-11-12 M <br/>
    Dottore con laurea in Medicina e Chirurgia ottenuta a Torino. Iscritto all'albo 
    provinciale dei Medici Chirurghi, svolge l'attività di medico di base a Bolzano.
    Particolarmente apprezzatio come esperto in patologie dell'infanzia.
    </div>
</div>

