<div class="cbp-l-member-img"><img src="img_med/GTNSBZ86S05A952W/avataaars.png" alt=""></div>
<div class="cbp-l-member-info">
    <div class="cbp-l-member-name">Sabazio Gaetani</div>
    <div class="cbp-l-member-position">Medico di Base</div>
    <div class="cbp-l-member-desc">
    Sabazio Gaetani sabazio.gaetani@gmail.com 1986-11-05 M <br/>
    Dottore con laurea in Medicina e Chirurgia ottenuta a Torino. Iscritto all'albo 
    provinciale dei Medici Chirurghi, svolge l'attività di medico di base a Bolzano.
    Particolarmente apprezzatio come esperto in patologie dell'infanzia .
    </div>
</div>
