<div class="cbp-l-member-img"><img src="img_med/MNRLRN68M57H612G/avataaars.png" alt=""></div>
<div class="cbp-l-member-info">
    <div class="cbp-l-member-name">Lorena Minervino</div>
    <div class="cbp-l-member-position">Medico di Base</div>
    <div class="cbp-l-member-desc">
    Lorena Minervino lorena.minervino@gmail.com 1968-08-17 F
    Dottoressa con laurea in Medicina e Chirurgia ottenuta a Torino. Iscritta all'albo 
    provinciale dei Medici Chirurghi dal 1991,svolge l'attività di medico di base a Bolzano.
    Particolarmente apprezzata come esperta in patologie dell'infanzia.
    </div>
</div>
