<div class="cbp-l-member-img"><img src="img_med/TMMTNN78E22L378Z/avataaars.png" alt=""></div>
<div class="cbp-l-member-info">
    <div class="cbp-l-member-name">Tommaso Trenini</div>
    <div class="cbp-l-member-position">Cardiologo</div>
    <div class="cbp-l-member-desc">
    Tommaso Trenini tommaso.trenini@gmail.com 1978-05-22 M 
    Dottore con laurea in Medicina e Chirurgia conseguita presso l'università di Verona con 107/110 punti discutendo una
    tesi di interesse cardiologico. Consegue il diploma di Specializzazione in Cardiologia con 70/70 e lode. <br/>
    Presso lo studio medico di Trento riceve su appuntamento; in tale sede si può eseguire elettrocardiogramma di base e
    visita cardiologica con eventuale controllo ecocardiografico. <br/>
    Presso lo studio di Bolzano, è possibile eseguire, inoltre, test da sforzo al cicloergometro, ecg sec. Holter, visita medico-sportiva agonisctica 
    e non agonistica
      </div>
</div>

